<h1>Listing addresses</h1>

<table id="addresses-table">
  <tr>
    <th>Street address</th>
    <th>Street address two</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Zipcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Address</a>