<span class="nested-fields"> 
  <br><br>
  <%= f.text_field :email, :class => 'text_field span8', :placeholder => "Email Address"%>
  <%= link_to_remove_association "-", f, :class => "btn btn-danger" %>
</span>
