<span class="nested-fields"> 
  <br><br>
  <div class="input-prepend">
    <span class="add-on">+</span>
    <%= f.text_field :number, :class => 'text_field span10', :placeholder => "Fax number" %>
  </div>
  <%= link_to_remove_association "-", f, :class => "btn btn-danger" %>
</span>
