<div id="addresses"></div>
<script type="text/javascript">
  $(function() {
    //ContaktDemo is the app name
    window.router = new ContaktDemo.Routers.AddressesRouter({addresses: <%= @addresses.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
